<!DOCTYPE html>
<html>

<head>
	<title>Local Attractions</title>
	<link rel="stylesheet" type="text/css" href="../static/css/slideshow.css">
	<link rel="icon" type="image/png" href="../static/images/icon.png">
</head>

<body>
	<h2>Local Attractions</h2>

	<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow -->
	<!-- https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_link_image -->
	<div class="slideshow-container">
		{% for s in slides %}
		<div class="slide">
			<a href={{s.reference}}>
				<img src={{s.source}} alt={{s.source}}>
			</a>
		</div>
		<div class="caption">{{s.caption}}</div>
		{% endfor %}

		<button class="prev" onclick="plusSlides(-1)">&#10094;</button>
		<button class="next" onclick="plusSlides(1)">&#10095;</button>
		<br>

		<div class="dot-container">
			{% for s in slides %}
			<button class="dot" onclick="currentSlide({{s.index}})" style="width:2em;height:2em;padding:0;margin-left:5px;">{{s.index}}</button>
			{% endfor %}
		</div>

		<script src="../static/js/slideshow.js"></script>
	</div><br>
	
	<a href="/">Home</a>
	<a href="rental">Rental</a>
	<a href="reviews">Reviews</a>
</body>

</html>
