/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow, changed to look a bit better and some els have common looks */
/* flexbox */
img {
  height: 100%;
  max-width: 100%;
  font-family: "Arial", "Verdana", sans-serif;
}

.dot-container {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.slideshow-container {
  width: 100%;
  height:auto;
  margin: 0;
  padding: 0;
  position: relative;
  border: solid deepskyblue 1px;
}

.slide {
  display: none;
  height: 400px;
  max-width: 100%;
  text-align: center;
}

.caption {
  background-color: deepskyblue;
  color:white;
  margin: auto;
  text-align: center;
  padding:5px;
  display:none;
}

.dot {
  padding: 0;
  border-radius: 50%;
  opacity: 0.3;
  margin:5px;
  width:40px;
  height:40px;
}

.dot:hover, .active {
  opacity: 1;
}

.prev, .next {
  top:-9px;
  height: 401px;
  width: 200px;
  font-weight: bold;
  position: absolute;
  opacity: 0.1;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  opacity: 0.3;
}

iframe {
  width: 60%;
  height: 100%;

}

.map-container {
  width: 100%;
  height: 400px;
  text-align: center;
  border: 0;
}
