<!DOCTYPE html>
<html>

<head>
  <!-- <meta http-equiv="Content-type" content="text/html:charset=utf-8"/> -->
  <title>The Society</title>
  <link rel="stylesheet" type="text/css" href="../static/css/defaults.css">
</head>

<body>
  <header>

    <div class="flex-container">
      <h4 class="thing">Admin Page</h4>
      <div class="links">
        <a href="/">Home</a>
        <a href="/rentals">Bookings</a>
        <a href="/reviews">Reviews</a>
      </div>
    </div>
  </header>
  <p> THIS IS THE ADMIN PAGE!!!! </p>
</body>

</html>
