<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html:charset=utf-8"/>
		<title>The Society</title>
        <link rel="stylesheet" type="text/css" href="../static/css/forallstyle.css">
        <link rel="stylesheet" type="text/css" href="../static/css/adminloginstyle.css">
	</head>
	<body>
		<header>
		
		<div class = "flex-container">
			<h4 class = "title">Really Good Rental Property!</h4>
			<div class = "links">
				<a href="/reviews">Reviews</a>
				<a href="/rentals">Rentals</a>
			</div>
		</div>
		</header>
			<p> Here is the home page! </p>
            
            <button onclick="document.getElementById('popuplogin').style.display='block'">Admin Login</button>
        
        <div id="popuplogin" class="modal">
        
            <form class="modal-content animate" action="adminlogin" method="post">
            <span onclick="document.getElementById('popuplogin').style.display='none'" class="close" title="Close Modal">&times;</span>
                <div class="login">
                    
                    <label for "user"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="user" required>
                    
                    <label for "pass"><b>Password</b></label> </br>
                    <input type="password" placeholder="Enter Password" name="pass" required>
                    
                        <button type="submit" value="submit">Submit</button>
                    </div>
                </div>
            </form>
            <script src="../static/js/closemodal.js"></script>
        </div>
    </body>
</html>