<!DOCTYPE html>
<html>

<head>
	<title>Holiday Booking</title>
	<link rel="stylesheet" type="text/css" href="../static/css/defaults.css">
	<link rel="stylesheet" type="text/css" href="../static/css/slideshow.css">
	<link rel="stylesheet" type="text/css" href="../static/css/map.css">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	<link rel="icon" type="image/png" href="../static/images/icon.png">
</head>

<body>
	<header id="navbar">
		<h4 class="title">Really Good Rental Property!</h4>
		<div class="links">
			<a href="/attractions">Local Attractions</a>
			<a href="/reviews">Reviews</a>
			<a href="/rentals">Rentals</a>
		</div>
	</header>

	<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow -->
	<!-- https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_link_image -->
	<!-- images -->
	<div class="flexy container" style="height:30em">
		<button class="prev" onclick="plusSlides(-1)">Previous</button>

		{% for s in slides %}
		<div class="slide">
			<img src={{s.source}} alt={{s.source}}>
		</div>
		{% endfor %}

		<button class="next" onclick="plusSlides(1)">Next</button>
	</div>

	<!-- captions -->
	<div class="container">
		{% for s in slides %}
		<div class="caption">{{s.caption}}</div>
		{% endfor %}
	</div>

	<!-- dot containerr -->
	<div class="flexy container">
		{% for s in slides %}
		<button class="dot" onclick="currentSlide({{s.index}})">{{s.index}}</button>
		{% endfor %}
	</div>

	<!-- descriptions -->
	{% for s in slides %}
	<div class="description">{{s.text}}</div>
	{% endfor %}
	<script src="../static/js/slideshow.js"></script>

	<br>
	<!-- https://support.google.com/maps/answer/144361?co=GENIE.Platform%3DDesktop&hl=en
			https://www.w3schools.com/tags/tag_iframe.asp
		-->
	<iframe class="map container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2422.3180361322597!2d1.2595098161480565!3d52.618096636706575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d9e149d0177b7d%3A0x5a24abc4a36227ba!2s38+Buckingham+Rd%2C+Norwich!5e0!3m2!1sen!2suk!4v1543934062988"></iframe>

	<!-- admin login -->
	<div class="flexy container">
		<button onclick="document.getElementById('popuplogin').style.display='block'">Admin Sign in</button>
		<div id="popuplogin" class="modal">
			<form class="modal-content animate" action="verifyAdmin" method="post">
				<button title="Close Modal" class="close" onclick="document.getElementById('popuplogin').style.display='none'">&times;</button><br>

				<label for "user">Username</label>
				<input type="text" placeholder="Enter Username" name="user" required>

				<label for "pass">Password</label>
				<input type="password" placeholder="Enter Password" name="pass" required>

				<button type="submit" value="submit">Submit</button>
			</form>
		</div>
		<script src="../static/js/closelogin.js"></script>

		<!-- admin register -->
		<button onclick="document.getElementById('popupregister').style.display='block'">Admin Register</button>
		<div id="popupregister" class="modal">
			<form class="modal-content animate" action="addAdmin" method="post">
				<button title="Close Modal" class="close" onclick="document.getElementById('popupregister').style.display='none'">&times;</button><br>

				<label for "user">Username</label>
				<input type="text" placeholder="Enter Username" name="user" required>

				<label for "pass">Password</label>
				<input type="password" placeholder="Enter Password" name="pass" required>

				<label for "verification">Verification Code</label>
				<input type="text" placeholder="Enter Verification Code" name="verification" required>

				<button type="submit" value="submit">Submit</button>
			</form>
		</div>
		<script src="../static/js/closeregister.js"></script>
	</div>
</body>

</html>
