<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html:charset=utf-8" />
	<title>Reviews</title>
	<link rel="stylesheet" type="text/css" href="../static/css/defaults.css">
</head>

<body>
	<header>
		<div class="flex-container">
			<h4 class="thing">Review Us!</h4>
			<div class="links">
				<a href="/">Back</a>
				<a href="/attractions">Local Attractions</a>
				<a href="/rentals">Rentals</a>
			</div>
		</div>
	</header>
	<form action="addReview" method="post"><br>
		Rating <br>
		1 <input type="radio" name="rating" value="1"> 2 <input type="radio" name="rating" value="2"> 3 <input type="radio" name="rating" value="3"> 4 <input type="radio" name="rating" value="4"> 5 <input type="radio" name="rating" value="5">
		<br><br>
		Name <br> <input type="text" name="name"><br>
		Comment<br> <textarea class="bigtextbox" name="comment"> </textarea><br>
		<input type="submit" value="Submit" /><br>
	</form>
	<br>

	<table border="1">
		<thead>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Rating</th>
				<th>Text</th>
			</tr>
		</thead>
		{% for line in inList %}
		<tr>
			{% for item in line %}
			<td>
				{{item}}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>

</body>

</html>
